<div class="btn-group-container">
  <div class="btn-group btn-group-justified">
    <a href="javascript:void(0)" class="btn btn-menu-bar">Pending</a>
    <a href="javascript:void(0)" class="btn btn-menu-bar">Proposal</a>
    <a href="javascript:void(0)" class="btn btn-menu-bar">Tentative</a>
    <a href="javascript:void(0)" class="btn btn-menu-bar">Confirmed</a>
    <a href="javascript:void(0)" class="btn btn-menu-bar">Feedback</a>
    <a href="javascript:void(0)" class="btn btn-menu-bar-active">Closed</a>
  </div>
</div>
