<div class="bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="auth-logo" style="margin-top: 110px;">
					<img src="images/mc-logo.png" alt="Image" class="block-center img-rounded">
					<h4 style="color: #ffffff; font-size: 18px; font-weight:300;">FORGOT YOUR PASSWORD?</h4>
					<h5 style="color: #ffffff; font-size: 18px; margin-top: 22px; font-weight:200 !important;">Enter your current email and we will send you a reset link</h5>
				</div>
				<div class="auth-form-reset">
					<form id="loginForm" class="auth-form auth-form-reset" {{action "reset" on="submit"}}>
						<div class="form-group">
							<input type="email" class="form-control login" id="email" placeholder="Email">
						</div>
						<button type="submit" style="margin-top: 15px;" class="btn btn-raised btn-warning btn-block">RESET PASSWORD</button>
					</form>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="verifyModal" style="margin-top: 150px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div align="center">
						<br/><br/><br/>
						<img width="100px;" src="images/checkmark.png">
						<br/><br/>
						<h4 style="color:#FB6560;">RESET YOUR PASSWORD</h4>
						<p style="margin-top: 20px; font-size: 18px;">A link has been sent to your email address ({{email_address}}).<br/> If you can not find the link check your spam folder.</p>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<button style="margin-top: 10px;" class="btn btn-warning btn-block" {{action "signIn"}}>SIGN IN</button>
								<div class="clearfix">
									<a href="#" class="pull-right" {{action "resend" email_address}}>Resend Email</a>
								</div>
							</div>
						</div>
						<br/><br/><br/><br/><br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
